.countdown-timer {
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  font-family: "Oswald";
  font-size: 30px;
}

.countdown-timer span {
  margin: 0 5px;
}

.two-number {
  width: 2ch;
}
